<div class=" container container-sm container-md container-lg container-xl position-absolute top-50 start-50 translate-middle align-middle color">
  <form class="row justify-content-center g-3" (ngSubmit)="editarSocio(nuevoSocioFormulario.value)" [formGroup]="nuevoSocioFormulario">
    <input type="hidden" formControlName="id">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <label for="nombre" class="form-label ">Nombre</label>
      <input type="tel" class="form-control" formControlName="nombre" placeholder="Nombre">
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <label for="apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido">
    </div>
    <div class=" col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <label for="dni" class="form-label">Dni</label>
      <input type="text" class="form-control" formControlName="dni" placeholder="Dni">
    </div>
    <div class=" col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
      <input type="text" class="form-control" formControlName="fechaNacimiento" placeholder="Fecha de nacimiento">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <label for="foto" class="form-label">Foto</label>
      <input type="text" class="form-control" formControlName="foto" placeholder="Foto">
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-grid gap-2">
      <input type="submit" class="btn btn-primary" [disabled]="!nuevoSocioFormulario.valid" value="Agregar"/>
    </div>
  </form>
  <div class="mt-3 container container-sm container-md container-lg container-xl d-flex justify-content-center align-items-center">
    <input type="submit" class="btn btn-danger col-3  col-sm-3 col-md-3 col-lg-3 col-xl-3" (click)="irAtras()" value="Ir atras "/>
  </div>
</div>
