<div class="container container-sm container-md container-lg container-xl table-responsive mt-2 ">
  <table class="table table-striped table-primary">
    <thead>
      <tr class="text-center">
        <th scope="col">Nombre Socio</th>
        <th scope="col">Titulo del libro</th>
        <th scope="col">Fecha inicio</th>
        <th scope="col">Acción<th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let prestamo of listaPrestamos">

        <td>{{prestamo.data.nombresoscio}}</td>
        <td>{{prestamo.data.nombrelibro}}</td>
        <td>{{prestamo.data.fechaPrestamo.seconds * 1000 | date :'dd/MM/yyyy'}}</td> <!-- el .seconds*1000 lo realizo para que pueda mostrar bien lafecha, si no puestra TimeStamp...-->

        <td><input type="submit" class="btn btn-primary mb-1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  "  routerLink="editarPrestamo/{{prestamo.id}}" value="Detalles"/></td>
        <td><input type="submit" class="btn btn-danger col-12  col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="eliminarPrestamo(prestamo)" value="Devolver"/></td>

      </tr>
    </tbody>
  </table>
</div>
