<div class="container position-absolute top-50 start-50 translate-middle align-middle color">
  <form class="row justify-content-center g-3" (ngSubmit)="nuevoSocio(nuevoSocioFormulario.value)" [formGroup]="nuevoSocioFormulario">
    <input type="hidden" formControlName="id">
    <div class="col-md-6">
      <label for="nombre" class="form-label ">Nombre</label>
      <input type="tel" class="form-control" formControlName="nombre" placeholder="Nombre">
    </div>
    <div class="col-md-6">
      <label for="apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido">
    </div>
    <div class="col-md-6">
      <label for="dni" class="form-label">Dni</label>
      <input type="text" class="form-control" formControlName="dni" placeholder="Dni">
    </div>
    <div class="col-md-6">
      <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
      <input type="text" class="form-control" formControlName="fechaNacimiento" placeholder="Fecha de nacimiento">
    </div>
    <div class="col-md-12">
      <label for="foto" class="form-label">Foto</label>
      <input type="text" class="form-control" formControlName="foto" placeholder="Foto">
    </div>

    <div class="col-12 d-grid gap-2">
      <input type="submit" class="btn btn-primary" [disabled]="!nuevoSocioFormulario.valid" value="Agregar"/>
    </div>
  </form>

</div>
