<div class="container container-sm container-md container-lg container-xl position-absolute top-50 start-50 translate-middle align-middle color">
  <form class="row justify-content-center g-3" (ngSubmit)="nuevoPrestamo(nuevoPrestamoFormulario.value)" [formGroup]="nuevoPrestamoFormulario">
    <input type="hidden" formControlName="id">
    <div class="col-md-6">
      <label for="libro" class="form-label ">Libro</label><br>
      <select formControlName="libro">
        <option value="{{libro.id}}" *ngFor="let libro of libros">{{libro.data.titulo}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="socio" class="form-label" >Socio</label><br>
      <select formControlName="socio" >
        <option value="{{socio.id}}" *ngFor="let socio of socios" >{{socio.data.nombre}} {{socio.data.apellido}}</option>
      </select>
    </div>
    <!--
    <div class="col-md-6">
      <label for="fechaPrestamo" class="form-label">fecha de Prestamo</label>
      <input type="text" class="form-control" formControlName="fechaPrestamo" placeholder="fecha de Prestamo">
    </div>
    -->
    <!--
    <div class="col-md-6">
      <label for="fechaDevolucion" class="form-label">Fecha de Devolucion</label>
      <input type="text" class="form-control" formControlName="fechaDevolucion" placeholder="fecha de Devolucion">
    </div>
-->


    <div class="col-12 d-grid gap-2">
      <input type="submit" class="btn btn-primary" [disabled]="!nuevoPrestamoFormulario.valid" value="Agregar"/>
    </div>
  </form>

</div>
